name: Eksperimen SML Andre Kautsar

on:
  push:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run Automated Preprocessing
      run: |
        python preprocessing/automate_Andre-Kautsar.py --input student-performance_raw.csv --outdir preprocessing/student-performance_preprocessing
    - name: Commit & push processed data
      run: |
        git config user.name "voidtrn"
        git config user.email "ktsr.andre@gmail.com"
        git add -A
        git diff-index --quiet HEAD || (git commit -a -m "Automated preprocessing commit" --allow-empty)
    - name: Push Changes
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: master
